<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout">
  
<th:block layout:fragment="content">
<div class="col-xs-12 col-md-12">
<a href="/users/new" class="btn btn-success">Create</a>
 </div>
<div class="col-xs-12 col-md-12">
<h5 class="mt-4 mb-4">Listing Users</h5>
<table class="table table-bordered">
   <thead>
     <tr>
     <td>Id </td>
     <td> User Name</td>
     <td> Last Name</td>
     <td> Email</td>
     <td> Active</td>
     <td> Actions</td>
      </tr>
   </thead>
   
   <tbody>
        <tr th:each="user: ${list}" >
        <td th:text="${user.id}"> </td>
        <td th:text="${user.name}"> </td>
     <td th:text="${user.lastName}"></td>
     <td th:text="${user.email}"></td>
     <td th:text="${user.active}"></td>
     <td ><form th:action="@{/users/{id}(id= ${user.id})}" th:method="delete"><button class="btn btn-danger">Delete</button></form></td>
       <td><form th:action="@{/users/edit/{id}(id= ${user.id})}" th:method="get"><button class="btn btn-success">Edit</button></form></td>
         </tr>
   </tbody>
</table>
</div>

</th:block>
</html>